### `env.example`
```
MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@cluster.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB_NAME=watchcv
IP_RANGE_COOLDOWN_MINUTES=60
MAX_TRACKINGS_PER_HOUR=20
ADD_TRACKING_COOLDOWN_SECONDS=60
STALE_DATA_DAYS=30